html,
body {
  padding: 0;
  margin: 0;
  background-color: "#18191A";
}

.text-small {
  max-height: 200px;
}

.text-large {
  max-height: 200px;
  mask-image: linear-gradient(180deg, #000 60%, transparent);
}
